<p>I’ve worked as a web producer/project manager for the past 15 years at Macworld, Walmart.com, and Nike. I’m married to the lovely <a href="http://gofitgirl.com" target="_blank">Go Fit Girl!</a> We recently relocated to Tucson after many years in the Bay Area and Portland. Fair to say I am a huge sports fan.</p>

<p>
- You can find semi-regular updates on <a href="https://blog.curtpoff.com">my blog</a><br>
- Profile picture was taken <a href='https://goo.gl/maps/UpBCjH5h79u' target="_blank">here</a><br>
- <a href='https://ko-fi.com/E1E1NKO6' target="_blank">Buy me a coffee</a> on Ko-fi
</p>
